<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>

       <div class="form-group row">
           <label class="col-sm-1 col-form-label"></label>
           <div class="col-sm-4">
               <h1 style="text-align:center">Employee Data</h1>
           </div>
       </div><br>

       <hr><hr><br>

<table border="3">

    <thead class="thead-dark">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Contact</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.eid }}</td>
        <td>{{ employee.ename }}</td>
        <td>{{ employee.eemail }}</td>
        <td>{{ employee.econtact }}</td>
        <td>
            <a href="/edit/{{ employee.id }}">Edit</a>
            <a href="/delete/{{ employee.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
<br>
       <hr><hr>

<center><h1><a href="/emp" class="btn btn-primary">Add New Record</a></h1></center>

</body>
</html>